body {
  background-color: lightblue;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

header {
  padding: 10px 0;
  background-color: #d2e9f1;
  font-size: 21px;
}

h1 {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: 'Neuton', serif;
  display: inline-block;
}

h1:hover {
  cursor: pointer;
}

h2 {
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
  transition: 0.5s;
}

button:hover {
  background-color: #d3f0f9;
  cursor: pointer;
}

.tweets {
  padding: 10px;
}

.tweets > div {
  border: 1px solid;
  border-radius: 5px;
  max-width: 500px;
  margin: 10px auto;
  padding: 10px 5px;
  background-color: #d3f0f9;
}

.tweets > div a {
  transition: 0.5s;
}

.tweets > div a:hover {
  background-color: lightblue;
  text-decoration: underline;
  cursor: pointer;
}

.timestamp {
  font-size: 14px;
}